<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853604097160-clfp2qdivkics73d0ntnvm0t3mblgfmr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853604097160-clfp2qdivkics73d0ntnvm0t3mblgfmr</string>
	<key>API_KEY</key>
	<string>AIzaSyADNTIoy8DVkPqgmd89UMIh4RhZzLO9kUw</string>
	<key>GCM_SENDER_ID</key>
	<string>853604097160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-f789f</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-f789f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853604097160:ios:36c3f05f8b0a8e0ca3533d</string>
</dict>
</plist>